.related-articles-section {
  /* margin-top: 80px; */
  /* padding-top: 40px; */
  padding-bottom: 40px;
  /* border-top: 1px solid var(--color-border); */
}
.related-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
/* We don't want a description for these cards */
.related-grid .card-description {
  display: none;
}
@media (max-width: 992px) {
  .related-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .related-grid .card-link-wrapper {
    max-width: 400px;
  }
}