.featured-products {
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.fp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.fp-header h2 {
  font-size: 1.5rem;
  margin: 0;
}

.fp-header p {
  color: #666;
  font-size: 0.95rem;
  margin-top: 0.25rem;
}

.explore-btn {
  background-color: #000;
  color: #fff;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.explore-btn:hover {
  background-color: #333;
}

.fp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}

.fp-card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  border: 1px solid rgb(255, 255, 255);
}


.fp-card:hover {
  transform: translateY(-4px);
}

.fp-img-wrapper {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fp-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fp-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.fp-info h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.fp-desc {
  font-size: 0.85rem;
  color: #777;
  margin: 0.4rem 0;
}

.fp-price {
  font-weight: bold;
  font-size: 1rem;
}
