.wishlist-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: #dc3545;
  transition: all 0.2s ease;
}

.wishlist-btn:hover {
  color: #dc3545;
  border-color: none;
}
.wishlist-btn.active {
  color: #dc3545;
}

.wishlist-btn svg {
  transition: all 0.2s ease;
}

.wishlist-btn.active svg {
  fill: #dc3545;
  /* stroke: #dc3545; */
}